  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2014</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

            </div>
        </div>
    </footer>